{% include "base.html" %}


{% block body %}
<div class="center">
  <h1>{{title}}</h1>
  <form action="." method="post">{% csrf_token %}
    {{form.as_p}}
    {# <input name="url" type="text" placeholder="shorten your urls">#}
    <input type="submit" value="shorten">
  </form>

</div>

{% endblock %}
